body {
  font-family: Helvetica;
}

ul {
  list-style-type: none;
}

.ch_label {
  width: 500px;
}

.ch_mute {
  background-color: red;
}

.ch_solo {
  background-color: red;
}

.ch_unmute {
  background-color: orange;
}

.ch_unsolo {
  background-color: yellow;
}
