body {
  font-family: Helvetica;
  white-space: nowrap;
}

.t_playing {
  background: green;
}

.t_notplaying {
  background: unset;
}

.t_unmuted {
  background-color: unset;
}

.t_muted {
  background-color: darkorange;
}

.ch_fader {
  width: 60px;
}

.ch_freq {
  width: 60px;
}

.ch_pan {
  width: 60px;
}

ul {
  list-style-type: none;
  padding: 10px 0px;
}

.ch_label {
  display: inline-block;
  width: 80px;
}

.ch_mute {
  background-color: darkorange;
}

.ch_solo {
  background-color: red;
}

.ch_unmute {
  background-color: unset;
}

.ch_unsolo {
  background-color: unset;
}

.ch_volsect {
  display: inline-block;
  width: 120px;
}
.ch_pansect {
  display: inline-block;
  width: 130px;
}
.ch_freqsect {
  display: inline-block;
  width: 120px;
}
